POSTGRES_DB=chefify_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BACKEND_HTTP_PORT=8080
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

CONNECTION_STRING=Host=db;Port=5432;Database=chefify_db;Username=postgres;Password=postgres

JWT_KEY=change_this_to_a_long_random_secret_at_least_32_chars
JWT_ISSUER=ChefifyAPI
JWT_AUDIENCE=ChefifyClient

S3_BUCKET_NAME=chefify-files
S3_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_PRESIGNED_URL_MINUTES=15
S3_MAX_UPLOAD_BYTES=10485760

ADMIN_EMAIL=admin@chefify.com
ADMIN_PASSWORD=change_this_admin_password

FRONTEND_HTTP_PORT=8088
FRONTEND_PREVIEW_PORT=8089
CHEFIFY_API_BASE_URL=/api
CHEFIFY_DATA_MODE=api
